<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>Main</title>
</head>
<body>
    <center><h1 class="bcimg">Railway Management System</h1></center>
    <hr>
    <div>
        <table border="3" cellpadding = "5" cellspacing = "5" align="center" width = "90%" height = "165" class="mt-5">
            <tr>
                <th colspan="4">Available Trains</th>
            </tr>
            <tr>
                <th>Sno.</th>
                <th>PNRNUMBER:</th>
                <th>TrainNumber</th>
                <th>Train Name</th>
                <th>From</th>
                <th>To</th>
    
    
            </tr>
        <% for (let i=0; i<check.length; i++) { %>
            <tr>
                <td><%= i + 1%></td>
                <td><%= check[i].pnrNo %></td>
                <td><%= check[i].trainNo %></td>
                <td><%= check[i].trainName %></td>
                <td><%= check[i].from %></td>
                <td><%= check[i].to %></td>
            </tr>
    
    
        <% } %>
    </table>
    <br>
    
    <a type="button" class="btn btn-success" href="/additems" style="margin-left: 4rem;"> Add Item</a>
    <a type="button" href="/deleteitems" class="btn btn-danger" style="margin-left: 4rem;"> Delete Item</a>
    <a type="button" href="/update" class="btn btn-warning" style="margin-left: 4rem;"> Update Item</a>
    </div>

</body>
</html>